.card {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.card .cardMedia {
  transition: transform 0.8s;
}

.card:hover .cardMedia {
  transform: scale(1.2);
}

.card .overlay {
  height: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(184, 51, 106, 0.9);
  left: 0;
  right: 0;
  z-index: 9999;
  color: #eeeeee;
  padding: 20px;
  box-sizing: border-box;
  transition: height 0.5s, bottom 0.5s;
}

.card:hover .overlay {
  height: 100%;
  bottom: 0;
}

.card:not(:hover) .overlay {
  height: 0;
  bottom: -100%;
  transition: height 0.5s, bottom 0.5s;
}

.swiper-button-prev, .swiper-button-next {
  color: #2af0ea; 
}

.swiper-pagination-bullet-active {
  background-color: #2af0ea; 
}