.App {
  text-align: center;
}

.section {
  opacity: 1;
  transition: opacity 2s;
}

.container.slide-in {
  animation: slide-in 2s;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.visible .container {
  animation: none;
}

.circle-icon {
  position: fixed;
  transform: rotate(180deg);

}