.App {
  text-align: center;
}

.section {
  opacity: 1;
  transition: opacity 2s, transform 2s;
}

.container.slide-in {
  animation: slide-in 1.8s;
}


.container.slide-in-home  {
  animation: slide-in-home 1.8s;
}

.container.slide-in-nav  {
  animation: slide-in-nav 1s;
}

@keyframes slide-in {
  0% {
    transform: translateX(-15%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-home {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-nav {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.card-box {
  position: relative;
  overflow: hidden;
}

.card-box .cardMedia {
  transition: transform 0.7s;
}

.card-box:hover .cardMedia {
  transform: scale(1.2);
}

.card-box  .overlay {
  height: 0;
  position: absolute;
  bottom: 0;
  background-color:  rgba(103, 235, 207, 0.95); 
  color: "text.primary";
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  transition: height 0.7s, bottom 0.7s;
}

.card-box:hover .overlay {
  height: 100%;
  bottom: 0;
}

.card-box:not(:hover) .overlay {
  height: 0;
  bottom: -100%;
  transition: height 0.7s, bottom 0.7s;
}

/* #skills {
  background-image: url(images/skills.jpg);
  background-position: center top;
  background-repeat: no-repeat;
} */

/* #contact {
  background-color: #1a1e2e;
} */

::-webkit-scrollbar {
  width: 11px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #171a26;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(160, 174, 192, 0.5)
  ;
  border-radius: 5px;
  border: 2px solid;
  ;
}

/* .hide-scroll {
  overflow: hidden;
} */

.swiper-button-prev, .swiper-button-next {
  color: #67EBCF;
}

@media (max-width:900px) {
  .swiper-button-prev, .swiper-button-next {
    width: 1rem;
  }
}

.swiper-pagination-bullet-active, .swiper-pagination-bullet {
  background-color: #2af0ea;
}